<html>
<head>
<style>
.container {
  border: 1px solid black;
  font-size: 12pt;
}

#segundaVia {
  margin-top: 50px;
}

.center {
  text-align: center;
}

p {
  margin: 0 20px 10px;
  clear: both;
}

h2 {
  margin-top: 10px;
  font-size: 16pt
}

.valor {
  float: right;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14pt;
  font-weight: bold;
}

hr {
  border-top: 1px solid black;
  width: 300pt;

  margin: 0px auto 5px;
}

.contador {
  margin: 0px 0px 20px;
}

img {
  width: 100%;
  height: auto;
}

.primeira-parte {
  margin: 10px 0px;
}

.primeira-parte p {
  margin-top: 3px;
  margin-bottom: 3px;
}

.segunda-parte {
  margin: 20px 0px 20px;
}

.data {
  margin-bottom: 40px;
}
</style>
</head>
<body>
  <div class='container'>
    <img src="images/header.jpg">
    <h2 class='center'>RECIBO</h2>
    <p class="valor">VALOR: R$ {{$value}}</p>
    <div class="primeira-parte">
      <p>Recebi(emos) de: {{$company}}</p>
      <p>A importância de: {{$value_text}}</p>
      <p>Referente a: {{$reference}}</p>
    </div>
    <div class="segunda-parte">
      <p>Para maior clareza firmo(amos) o presente</p>
    </div>

    <div class="center">
      <p class="data">{{$date}}</p>
      <hr>
      <p class="contador">{{$emitter}} {{$crc}}</p>
    </div>
  </div>
</body>
</html>
